body{
    background-color: black;
}
.password{
    padding: 1rem;
    border:none;
    background-color: aliceblue;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}
.eye{
    padding: 0.95rem;
    border: none;
    background-color: aliceblue;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}