body{
  background-color: aliceblue;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit_btn{
  width: 90%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

#submit_btn:hover{
  background-color: rgba(0, 0, 255, 0.386);
}
